# Clase 2

In [ ]:
import pandas as pd # Inportando libreria
datos = {
    "nombre":['juan', 'maria', 'luis'],
    "edades" : [20,30,40],
    "ciudad" :['madrid', 'barcelona', 'valencia'],
    "altura" : [1.70, 1.65, 1.80],
    "id" : [1,2,3],
    "deport_favor" : ['futbol', 'tenis', 'natacion'],
    "profesion" : ['ingeniero', 'doctor', 'arquitecto']
}
#crear un datafarme
tabla = pd.DataFrame(datos)
#mostrar el tipo de la variable
print("la variable es de tipo: ", type(tabla))
#mostrar el dataFramde
print(tabla)

la variable es de tipo:  <class 'pandas.core.frame.DataFrame'>
  nombre  edades     ciudad  altura  id deport_favor   profesion
0   juan      20     madrid    1.70   1       futbol   ingeniero
1  maria      30  barcelona    1.65   2        tenis      doctor
2   luis      40   valencia    1.80   3     natacion  arquitecto